{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1>Hostel Reservation System</h1>
        <br/><hr/><br/>
        <a href="/show" class="btn btn-danger btn-lg">Show Customer Data</a>       
        <br/><hr/><br/>
        <a href="/delete" class="btn btn-success btn-lg">Delete Customer Data</a>
        <a href="/insert" class="btn btn-success btn-lg">Insert Customer Data</a>
        <a href="/update" class="btn btn-success btn-lg">Update Customer Data</a>
        <br/><hr/><br/>
        <a href="/livein" class="btn btn-primary btn-lg">Find Customer Lives in which Hostel</a>
        <a href="/exists" class="btn btn-primary btn-lg">Find Dependent</a>
        <br/><hr/><br/>
        <a href="/count" class="btn btn-warning btn-lg">Count Customer Number</a>
        <a href="/sum" class="btn btn-warning btn-lg">Total Meal Revenue</a>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><hr/>       
        <p style="color:gray">by Yu-Hsuan Lin</p>
    </div>
{% endblock %}